<div class="container">
    <div class="card my-4">
        <div class="card-header">
            <h2>
                CURSOS
            </h2>
        </div>
        <div class="card-body">
            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>No. {{learning.id}}</h3>
                    </li>
                </ul>
            </div>
            <div>
                <div class="my-3">
                    <h2>GRADO</h2>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>{{learning.name}}</h3>
                    </li>
                </ul>
            </div>
            <div>
                <div class="my-3">
                    <h2>ESTUDIANTES</h2>
                </div>
                <div class="card">
                    <table class="table table-striped">
                        <thead>
                            <th>ID</th>
                            <th>IDENTIFICACION</th>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                        </thead>
                        <tbody>
                            @for (item of learning.student; track $index) {
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.identification}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.surname}}</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>